# Python
__pycache__/
*.pyc
.venv/
venv/

# Env
.env
*.local

# Output files written by cli.py
samples/*_mapped.csv
samples/*_categorized.csv
samples/*_matched.csv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
